<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%=reward.name%></h1>
  <p>My fave role is <%=reward.name%> and they're in <%=reward.role%> lane</p>
  <p><a href="/rewards/<%=reward.id%>/edit">Edit Champ?</a></p>
</body>
</html>